:root{
    --primary-modal:rgba(0, 0, 0, 0.5);
    --primary-modal-button:rgba(151, 17, 17, 0.966);
    --secundy-modal-button:rgba(243, 25, 25, 0.966);
    --primary-text: #ffffff;
    --primary-body: #000000;
    --secundy-body: #790000;
    --primary-main: #2f3542;
    --primary-white: #f5f6fa;
    --secundy-white: #ced6e0 ;
    --primary-shadow: #353b48;
    --primary-black: #8cb4ec;
}

body{
    font-size: 20px;
    font-family: 'Black Ops One', cursive;
    background-image: linear-gradient(to right, var(--primary-body), var(--primary-body), var(--secundy-body));
    background-size: 100vw 100vh;
    padding: 0;
}

main{
    width: 90vw;
    height: 80vw;
    display: flex;
    flex-direction: row;
    margin:80px auto;
    margin-bottom: 30px;
    background-color: var(--primary-main);
    box-shadow: 4px 5px 12px var(--primary-shadow);
}


h1{
    color: var(--primary-white);
    font-size: 3rem;
    margin: 0 auto;
    margin-top: 0px;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5px;
}

figure{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--primary-white);
}
span{
    width: 100%;
    text-align: center;
    display: block;
}

img{
    width: 100%;
    height: 100%;

}
p{
    text-align: center;
    color: var(--primary-text);
    font-size: 1rem;
}


.sectionColuns{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    width: 14%;
}
.sectionColuns div{
    width: 80%;
    height: 13.5%;
    margin: 0 auto;
    background-color: var(--primary-white);
    border-radius: 100px;
    cursor: pointer;
}

.sectionColuns:hover div{
    background-color: var(--secundy-white);

}

section#players{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

div#cells{
    background-image: url("../imagens/skull-coin1.png");
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}


div.placar{
    border: 2px solid var(--primary-body);
    background-color: var(--primary-white);
    margin: 0 auto;
}

#modal div.primaryDiv{
    width: 90%;
    height: 200px;
    background-color: rgba(77, 45, 45, 0.794);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 15px var(--primary-black);
    background-image: url("../imagens/skull-coin.svg");
    background-size: 50%;
    background-position: center;
    padding-top: 10px;  
}

#modal input{
    padding:7px;
    width: 80%;
    text-align: center;
}

div#ponto{
    border: 2px solid var(--primary-body);
    margin: 0 auto;
    width: 50%;

}


.bts{

    display: flex;
    flex-direction: row;
    justify-content: center;
}

label{
    color: var(--primary-text);
}

button{
    display: block;
    cursor: pointer;
    outline: none;
    margin: 5px;
    padding: 5px;
    font-size: 1rem;
}

button#escolhaPlayer{
    background-color: var(--primary-modal-button);
    padding:10px 80px 10px 80px;
    margin: 20px auto;
    color:var(--primary-white);
}

button#escolhaPlayer:hover{
    background-color: var(--secundy-modal-button);
}

#modalResultGame, #modal{
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
    background-color: var(--primary-modal);
    top: 0; 
    left: 0;
    justify-content: center;
    align-items: center;
}

#modalResultGame div{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-content: center;
    width:80%;
}

#modalResultGame div h1{
    font-size: 20px;
}

#modalResultGame button{
    padding:10px 80px 10px 80px;
    background-color: rgba(151, 17, 17, 0.144);
    border:1px solid rgba(255, 255, 255, 0.164);
    color:var(--primary-white);
}

#modalResultGame button:hover{
    background-color: rgba(151, 17, 17, 0.8);
    border:1px solid rgba(255, 255, 255, 0.9);
     
}

#modalResultGame{
    height: 100vh;
    width: 100vw;
    z-index: 1;
    position: absolute;
    background-color: var(--primary-modal);
    top: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}


@media (min-width: 600px){
    main{
        width: 500px;
        height: 450px;
    }
    figure{
        width: 80px;
        height: 80px;
    }

    #modalResultGame div h1{
        font-size: 2rem;
        width: 400px;
        height: 200px;
        margin: 0 auto;
    }
    #modal div.primaryDiv{
        width: 300px;
    }

}

@media (min-width: 900px){
    main{
        width: 580px;
        height: 450px;
        margin-bottom: 0;
    }
    .responsivo{
        position: absolute;
        width: 100%;
        left: 0;
        top: 20px;
    }
    .bts{
        width: 300px;
        margin: 0 auto;
        justify-content: space-around;
    }
    button{
        padding: 2px;
        
    }
    #modalResultGame div h1{
        font-size: 3rem;
    }
}

@media (min-width: 1180px){
    .bts{
        width: 480px;
        margin: 0 auto;
        justify-content: space-around;
    }
    button{
        padding: 5px;
        
    }
    
}


.showBlock{
    display: block;
}

.show{
    display: flex;
}

.hidden{
    display: none;
}
